
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Меню
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Домашняя страница</a></li>
                <li class="nav-item"><a href="{% url 'unterlagen' %}" class="nav-link">Документы</a></li>
                <li class="nav-item"><a href="{% url 'prufung' %}" class="nav-link">Экзамены по немецкому</a></li>
                <li class="nav-item"><a href="{% url 'umzug' %}" class="nav-link">Переезд и прибытие</a></li>
                <li class="nav-item"><a href="{% url 'interessante' %}" class="nav-link">Интересные места</a></li>
                <li class="nav-item"><a href="{% url 'kontakte' %}" class="nav-link">Контакты</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="#" class="nav-link">Выход</a></li>
                <li class="nav-item"><a href="#" class="nav-link">{{ user }}</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Вход</a></li>
                <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>